@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&family=Rubik:wght@300;400;600;700;800;900&display=swap");
html *::-webkit-scrollbar {
  width: 16px;
}
html *::-webkit-scrollbar-track {
  background-color: transparent;
}
html *::-webkit-scrollbar-thumb {
  background-color: #ffaa17;
  border-radius: 10px;
  border: none;
}

* {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #222429;
}

a {
  text-decoration: none;
  color: #222429;
}

p {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.container {
  max-width: 1100px;
  margin: 10rem auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  padding: 0 20px;
}
header h1 {
  margin: 15px 0 15px 10px;
}
header nav {
  height: 100%;
  margin-right: 10px;
}
header nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 20px;
  margin: 0;
}
header nav ul li:nth-child(1) a {
  color: #ffaa17;
}
header nav .dropdown {
  display: none;
}
header div {
  height: 100%;
  border-left: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div::before {
  content: "\f3cd";
  font: var(--fa-font-solid);
  font-size: 32px;
  color: #ffaa17;
  margin-right: 10px;
}
header div p {
  margin: 0;
  font-size: 14px;
}
header div p strong {
  font-size: 16px;
}

.intro {
  background-color: #ffaa17;
  display: flex;
  padding: 48px 0;
}
.intro h1 {
  margin: 0;
}
.intro-text {
  margin: auto 0;
  width: 45%;
  padding: 0 48px;
}
.intro-text h1 {
  text-align: left;
  font-size: 5.5rem;
  line-height: 1.2;
  margin: 0;
}
.intro-text p {
  font-size: 1rem;
  line-height: 1.3;
}
.intro-text button {
  background-color: #222429;
  color: #fff;
  font-size: 1rem;
  padding: 17px 60px;
  margin-top: 15px;
}
.intro-text button:hover {
  background-color: #111214;
}
.intro-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.about .container {
  display: flex;
  margin-top: 200px;
}
.about .container img {
  width: 540px;
}
.about .container div {
  width: 540px;
  padding-left: 30px;
  margin: auto 0;
}
.about .container div h1 {
  text-align: left;
  line-height: 1.2;
  margin: 0 0 10px;
}
.about .container div h5 {
  font-weight: 500;
  line-height: 1.15;
  font-size: 20px;
  color: #ffaa17;
  margin-bottom: 15px;
}
.about .container div p {
  line-height: 1.3;
  color: #686a6f;
  margin-bottom: 1.5rem;
}
.about .container div button {
  background-color: #ffaa17;
  color: #222429;
  padding: 20px 48px;
  border: none;
}
.about .container div button:hover {
  background-color: #f09800;
}

.services .container > div {
  display: flex;
  gap: 30px;
}
.services .container > div div {
  border-radius: 5px;
  box-sizing: border-box;
  height: 320px;
  padding: 48px;
  background-color: #f4f5f8;
  transition: all 500ms ease-in-out;
}
.services .container > div div i {
  font-size: 3rem;
  color: #ffaa17;
}
.services .container > div div h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.1;
  transition: all 500ms ease-in-out;
}
.services .container > div div h4 span {
  display: block;
  color: #686a6f;
}
.services .container > div div p {
  color: #686a6f;
}
.services .container > div div:hover {
  background-color: #222429;
}
.services .container > div div:hover h4 {
  color: #fff;
}

@keyframes project {
  0% {
    font-size: 0.4rem;
    width: 10%;
    height: 10%;
  }
  11% {
    font-size: 0.8rem;
    width: 20%;
    height: 20%;
  }
  22% {
    font-size: 1.2rem;
    width: 30%;
    height: 30%;
  }
  33% {
    font-size: 1.6rem;
    width: 40%;
    height: 40%;
  }
  44% {
    font-size: 2rem;
    width: 50%;
    height: 50%;
  }
  55% {
    font-size: 2.4rem;
    width: 60%;
    height: 60%;
  }
  66% {
    font-size: 2.8rem;
    width: 70%;
    height: 70%;
  }
  77% {
    font-size: 3.2rem;
    width: 80%;
    height: 80%;
  }
  88% {
    font-size: 3.6rem;
    width: 90%;
    height: 90%;
  }
  99% {
    font-size: 4rem;
    width: 100%;
    height: 100%;
  }
}
.projects-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 30px;
}
.projects-buttons button {
  padding: 8px 24px;
  background-color: transparent;
  border: 1px solid #222429;
  transition: all 200ms ease-in-out;
}
.projects-buttons button i {
  color: #ffaa17;
}
.projects-buttons button:nth-child(1) {
  background-color: #222429;
  color: #fff;
}
.projects-buttons button:hover {
  background-color: #222429;
  color: #fff;
}
.projects-grid {
  display: grid;
  grid-template: repeat(2, 350px) / repeat(3, 1fr);
  gap: 25px;
}
.projects-grid > div {
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-grid > div:nth-child(1) {
  background-image: url(../images/portfolio-1.jpg);
}
.projects-grid > div:nth-child(2) {
  background-image: url(../images/portfolio-2.jpg);
}
.projects-grid > div:nth-child(3) {
  background-image: url(../images/portfolio-3.jpg);
}
.projects-grid > div:nth-child(4) {
  background-image: url(../images/portfolio-4.jpg);
}
.projects-grid > div:nth-child(5) {
  background-image: url(../images/portfolio-5.jpg);
}
.projects-grid > div:nth-child(6) {
  background-image: url(../images/portfolio-6.jpg);
}
.projects-grid > div i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}
.projects-grid > div i:before {
  cursor: pointer;
}
.projects-grid > div:hover i {
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffaa17;
  background-color: rgba(34, 36, 41, 0.4);
  font-size: 4rem;
  font-weight: 800;
  width: 100%;
  height: 100%;
  border: 25px solid #222429;
  animation: project 300ms ease-out;
}

.pricing .container > h1 {
  margin-bottom: 100px;
}
.pricing .container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pricing .container > div .pricing-cart {
  width: 31.5%;
  text-align: center;
  background-color: #f4f5f8;
  padding: 1.5rem 0;
  border-radius: 5px;
}
.pricing .container > div .pricing-cart h1 {
  padding: 15px 0;
  margin: 0 0 1.5rem;
  background-color: #222429;
  color: #fff;
  border-radius: 100%;
}
.pricing .container > div .pricing-cart h1 sup,
.pricing .container > div .pricing-cart h1 sub {
  font-size: 2rem;
}
.pricing .container > div .pricing-cart h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.5rem;
}
.pricing .container > div .pricing-cart h6 {
  margin: 0 0 3rem;
  font-weight: 500;
  font-size: 1rem;
  color: #686a6f;
}
.pricing .container > div .pricing-cart p {
  color: #686a6f;
}
.pricing .container > div .pricing-cart button {
  margin: 1rem 0;
  background-color: #222429;
  color: #fff;
  padding: 10px 24px;
  border: none;
}
.pricing .container > div .pricing-cart button:hover {
  background-color: #111214;
}
.pricing .container > div .pricing-cart:nth-child(2) {
  background-color: #222429;
  transform: translateY(-3rem);
}
.pricing .container > div .pricing-cart:nth-child(2) h2 {
  color: #fff;
}
.pricing .container > div .pricing-cart:nth-child(2) h6,
.pricing .container > div .pricing-cart:nth-child(2) p {
  color: #bdbdbf;
}
.pricing .container > div .pricing-cart:nth-child(2) h1 {
  background-color: #ffaa17;
  color: #222429;
}
.pricing .container > div .pricing-cart:nth-child(2) button {
  background-color: #ffaa17;
  color: #222429;
}
.pricing .container > div .pricing-cart:nth-child(2) button:hover {
  background-color: #f09800;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.team-grid .team-cart {
  border-radius: 5px;
  background-color: #f4f5f8;
  text-align: center;
}
.team-grid .team-cart:nth-child(1) > div {
  background-image: url(../images/team-1.jpg);
}
.team-grid .team-cart:nth-child(2) > div {
  background-image: url(../images/team-2.jpg);
}
.team-grid .team-cart:nth-child(3) > div {
  background-image: url(../images/team-3.jpg);
}
.team-grid .team-cart > div {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}
.team-grid .team-cart > div > div {
  width: 80%;
  height: 80%;
  background-color: rgba(34, 36, 41, 0.9);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transition: all 333ms ease-in-out;
}
.team-grid .team-cart > div > div i {
  background-color: #ffaa17;
  color: #222429;
  border-radius: 5px;
  width: 46px;
  height: 46px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-grid .team-cart img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.team-grid .team-cart h4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 12px 0 8px;
}
.team-grid .team-cart p {
  margin: 0 0 24px;
  color: #686a6f;
}
.team-grid .team-cart:hover > div > div {
  opacity: 1;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.clients-grid .client {
  padding: 24px;
  border-radius: 5px;
}
.clients-grid .client img {
  margin: 1rem 0;
  border-radius: 5px;
  width: 80px;
}
.clients-grid .client h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem;
}
.clients-grid .client .profession {
  margin: 0 0 1rem;
}
.clients-grid .client .description {
  line-height: 1.4;
}
.clients-grid .client:nth-child(2) {
  background-color: #222429;
}
.clients-grid .client:nth-child(2) h5 {
  color: #ffaa17;
}
.clients-grid .client:nth-child(2) .profession {
  color: #686a6f;
}
.clients-grid .client:nth-child(2) .description {
  color: #bdbdbf;
}
.clients-grid .client:nth-child(odd) {
  opacity: 0.5;
}

.contact {
  padding-top: 5rem;
}
.contact iframe {
  width: 100%;
  height: 500px;
  border: none;
}
.contact form {
  margin: 0 auto;
  width: 44%;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-200px);
}
.contact form input[placeholder="Subject"] {
  width: 100%;
}
.contact form textarea {
  width: 100%;
}
.contact form input,
.contact form textarea {
  padding: 12px 0;
  border-radius: 5px;
  border: none;
  background-color: #f4f5f8;
  text-indent: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  color: #495057;
  outline: none;
  transition: all 300ms ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  box-shadow: 0 0 0 3px rgba(255, 170, 23, 0.3);
}
.contact form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.contact form > div input {
  width: 50%;
}
.contact form button {
  background-color: #ffaa17;
  padding: 20px 50px;
  border: none;
  color: #222429;
}
.contact form button:hover {
  background-color: #f09800;
}

footer .footer-grid {
  background-color: #222429;
  padding: 6rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
footer .footer-grid > div h1 {
  text-align: left;
  color: #fff;
  margin: 0;
}
footer .footer-grid > div p {
  color: rgba(255, 255, 255, 0.5019607843);
  margin: 0;
  line-height: 1.4;
}
footer .footer-grid > div h6 {
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0;
}
footer .footer-grid > div h4 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
}
footer .footer-grid > div h4 ~ p {
  margin: 0 0 1rem;
}
footer .footer-grid > div address i {
  color: #fff;
  padding-right: 4px;
}
footer .footer-grid > div address p {
  margin: 0 0 1rem;
  font-family: "Rubik", sans-serif;
}
footer .footer-grid > div ul {
  list-style: none;
  padding: 0;
}
footer .footer-grid > div ul li {
  padding-bottom: 0.5rem;
}
footer .footer-grid > div ul li i {
  color: #fff;
  padding-right: 0.5rem;
}
footer .footer-grid > div ul li a {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.5019607843);
}
footer .footer-grid > div form {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
footer .footer-grid > div form + p {
  font-style: italic;
}
footer .footer-grid > div form input {
  width: 75%;
  height: 32px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
}
footer .footer-grid > div form input:focus {
  box-shadow: 0 0 0 3px rgba(255, 170, 23, 0.3);
}
footer .footer-grid > div form button {
  width: 25%;
  border: none;
  background-color: #ffaa17;
  border-radius: 0 5px 5px 0;
}
footer .footer-grid > div form button:hover {
  background-color: #f09800;
}
footer .footer-grid > div div {
  display: flex;
  gap: 0.5rem;
}
footer .footer-grid > div div i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #ffaa17;
  border-radius: 5px;
  width: 2.75rem;
  height: 2.75rem;
}
footer .copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
  background-color: #111;
}
footer .copyrights p {
  color: rgba(255, 255, 255, 0.5019607843);
  margin: 0;
}
footer .copyrights p a {
  font-family: "Rubik", sans-serif;
  color: #ffaa17;
  cursor: pointer;
}
footer .copyrights p a:hover {
  color: #f09800;
  text-decoration: underline;
}

@media (max-width: 1045.98px) {
  header {
    margin-right: 0;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header nav ul {
    gap: 10px;
    padding-right: 0px;
  }
  header div {
    display: none;
  }
  .intro {
    align-items: center;
  }
  .intro-text h1 {
    font-size: 4rem;
  }
  .intro-img img {
    width: 100%;
    height: 100%;
  }
  .about .container {
    flex-direction: column;
    align-items: center;
  }
  .about .container img {
    width: 60%;
  }
  .about .container div {
    width: 60%;
  }
  .services h1 {
    font-size: 2.5rem;
  }
  .services .container {
    padding: 0 20px;
  }
  .services .container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
  }
  .projects h1 {
    font-size: 2.5rem;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 20px;
  }
  .pricing .container {
    padding: 0 20px;
  }
  .pricing .container > h1 {
    font-size: 2.5rem;
  }
  .team .container h1 {
    font-size: 2.5rem;
  }
  .team-grid {
    gap: 15px;
  }
  .team-grid .team-cart > div {
    background-repeat: no-repeat;
    background-position: center;
  }
  .clients h1 {
    font-size: 2.5rem;
  }
  .clients-grid {
    gap: 20px;
  }
  footer .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 605px) {
  h1 {
    font-size: 2rem;
  }
  button {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .container {
    width: 85vw;
    margin: 180px auto 0 !important;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  header h1 {
    margin: 15px 0 15px 10px;
  }
  header nav ul {
    display: none;
  }
  header nav .dropdown {
    display: block;
    font-size: 1.5rem;
    color: #686a6f;
    border: 1px solid #bdbdbf;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  header nav .dropdown:hover {
    border: 2px solid #ffaa17;
  }
  header div {
    display: none;
  }

  #mobile-menu {
    width: 100%;
  }

  #mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .intro {
    display: block;
  }
  .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;
    width: 100vw;
    box-sizing: border-box;
  }
  .intro-text h1 {
    font-size: 2.75rem !important;
    padding: 0 16vw;
  }
  .intro-text p {
    line-height: 1.5;
  }
  .intro-text h1,
  .intro-text p {
    text-align: center;
  }
  .intro-img {
    margin-top: 3rem;
    width: 100%;
    display: block;
  }
  .intro-img img {
    width: 100%;
  }
  .about .container {
    display: block;
  }
  .about .container img {
    width: 100%;
  }
  .about .container div {
    width: 100%;
    padding: 0;
    margin: 2rem 0;
  }
  .about .container div h1 {
    width: 95%;
  }
  .services .container h1 {
    width: 60%;
    margin: 0 auto 3rem;
    line-height: 1.2;
  }
  .services .container > div {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  .projects-buttons {
    flex-wrap: wrap;
    margin: 3rem auto 0;
  }
  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .projects-grid > div {
    width: 100%;
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pricing .container > h1 {
    margin-bottom: 3rem;
  }
  .pricing .container > div {
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
  }
  .pricing .container > div .pricing-cart {
    width: 100%;
  }
  .pricing .container > div .pricing-cart h2 {
    margin: 1rem 0 0;
  }
  .pricing .container > div .pricing-cart:nth-child(2) {
    transform: translateY(0rem);
  }
  .team-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .clients-grid {
    display: flex;
    flex-direction: column;
  }
  .contact {
    margin-top: 150px;
  }
  .contact iframe {
    height: 300px;
  }
  .contact form {
    width: 75%;
    transform: translateY(0);
    margin: 0;
  }
  .contact form input,
  .contact form textarea {
    width: 100% !important;
  }
  .contact form textarea {
    height: 150px;
  }
  .contact form > div {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  footer .footer-grid {
    margin-top: 150px;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
} /*# sourceMappingURL=style.css.map */
